body {
    background-color: #0d1117;
    color: white;
}

.link {
    color: white;
    text-decoration: none;
    transition: 0.2s;
}
  
.link:hover {
    color: rgb(126, 173, 243);
    cursor: pointer;
    text-decoration: none;
}


tr {
    text-align: center;
}

.formPopup {
    border: 3px solid #f1f1f1;
    display: none;
    padding: 20px;
    position: fixed;
    border-radius: 10px;
  }