body {
    background-color: #ffffff;
    color: #060606;
    font-family: 'Roboto', sans-serif;
}

/* caixa da tabela de projetos */
.tableBox {
    margin-top: 30px;
}

.dataTable {
    background-color: #C8D1E6;
    border-collapse: collapse;
}

th {
    background-color: #A6AEBF;
}

tr {
    transition: 0.2s;
    text-align: center;
}

tr:hover {
    background-color: #BDC5D9;
    color: #1e2a42;
    cursor: pointer;
    text-decoration: none;
}

.formPopup {
    border: 3px solid #f1f1f1;
    display: none;
    padding: 20px;
    position: fixed;
    border-radius: 10px;
}